# Basic libraries that will probably be needed
import discord
from discord import app_commands
from discord.ext import commands
from utils.logger import Log, LogAndPrint
from utils.bot_utils import checkIfOwner, sendMessage

# Create object of Log and LogAndPrint class
log = Log()
logandprint = LogAndPrint()


# Example cog class
class ExampleCog(commands.Cog, description="Example cog description."):
    def __init__(self, bot) -> None:
        self.bot = bot
        return

    # Example listener
    @commands.Cog.listener()
    async def on_ready(self) -> None:
        return logandprint.logCogLoad(self.__class__.__name__)

    # Example command
    @app_commands.command(name='example', description='This is an example for a command description.')
    async def example(self, interaction: discord.Interaction) -> None:
        # Check if maintenance mode is on
        if self.bot.maintenance_mode:
            return

        await interaction.response.send_message("This is an example cog!", ephemeral=True)
        return log.logCommand(interaction.user, interaction.command.name)


async def setup(bot) -> None:
    return await bot.add_cog(ExampleCog(bot))
