# Basic libraries that will probably be needed
import discord
from discord import app_commands
from discord.ext import commands
from utils.logger import Log, logCommand, logCogLoad
from utils.bot_utils import checkIfOwner

# Create object of Log class
log = Log()

# Example cog class
class ExampleCog(commands.Cog, description="Example cog description."):
    def __init__(self, bot) -> None:
        self.bot = bot
        return

    # Example listener
    @commands.Cog.listener()
    async def on_ready(self) -> None:
        logCogLoad(self.__class__.__name__)
        return print(f'Extension loaded: {self.__class__.__name__}')

    # Example command
    @app_commands.command(name='example', description='This is an example for a command description.')
    async def example(self, interaction: discord.Interaction) -> None:
        return await interaction.response.send_message("This is an example cog!", ephemeral=True)


async def setup(bot) -> None:
    return await bot.add_cog(ExampleCog(bot))
