# Imports
from discord.ext import commands


# Example cog class
class ExampleCog(commands.Cog, description="Example cog description."):
    def __init__(self, bot):
        self.bot = bot

    # Example listener
    @commands.Cog.listener()
    async def on_ready(self):
        print(f'Extension loaded: {self.__class__.__name__}')

    # Example command
    @commands.command()
    async def example(self, ctx):
        await ctx.send("This is an example cog!")

    # Example slash/Discord interaction command
    @app_commands.command(name="example", description="Responds with a message.")
    async def ping(self, interaction: discord.Interaction):
        await interaction.response.send_message('Example command!', ephemeral=True)

    @commands.command(help="Sync Discord interaction commands.")
    async def sync(self, ctx) -> None:
        fmt = await ctx.bot.tree.sync()
        await ctx.send(f'Synced {len(fmt)} commands.')
        return


async def setup(bot):
    await bot.add_cog(ExampleCog(bot))

